body {
    background: #34495e;
}

.team-title{
    color: #fff;
    margin: 40px 0 60px 0;
    font-weight: 300;
    position: relative;
}
.team-title::after {
	content: "";
	position: absolute;
	width: 13%;
	height: 3px;
	background: crimson;
	top: 132%;
	left: 566px;
	z-index: -1;
}
.team-title::before {
	content: "Contact Us";
	position: absolute;
	width: 7%;
	height: 30px;
	background: #34495e;
	font-size: 16px;
	font-weight: 600;
	padding: 3px;
	top: 105%;
	left: 46.5%;
	z-index: 1;
}


    /* Team Front-end Section Styling Start */
.our-team-main{
    width: 100%;
    height: auto;
    border-bottom: 7px #8B0000 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}
.our-team-main img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
    border: 3px solid #FF0000;
    padding: 5px;
    box-shadow: 0px 0px 10px 2px crimson;
    
}
.our-team-main h3{
    font-size: 20px;
    font-weight: 700;
}
.our-team-main p {
    margin-bottom: 0;
}
/* Team Front-end Section Styling End */

/* Team Back-End Section Styling Start */
.team-back-end{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: justify;
    background: #fff;
}
.team-front-end{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}
.our-team-main:hover .team-front-end{
    bottom: -200px;
    transition: all 0.5s ease;
}
.our-team-main:hover{
    border-color: #FF0000;
    transition: 0.5s;
}

/* Team Social Icon Section Start */
.social-icons{
    margin-top: 30px;
}
.social-icons ul{
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.social-icons ul li{
    list-style: none;
    margin: 5px;
}
.social-icons ul li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: crimson;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;    
}
.social-icons ul li a:hover{
    box-shadow: 0px 0px 5px 0px crimson;    
}
/* Team Social Icon Section End */

/* Team Back-End Section Styling End */